---
title: Pricing
heading: Find the perfect plan for your business
description: All plans include our award winning sales optimization solution to track your sales in real time.
pricing_table:
  - name: Basic
    color: "#8e8e8e"
    features:
      - text: Free trial upto 3 months
        highlight: true
      - text: Basic access to product 
        highlight: false
      - text: Basic tracing
        highlight: false
      - text: Tech-support upto 1 months
        highlight: false
      - text: 2 feature requests
        highlight: false
      - text: 1 day response time
        highlight: false
    call_to_action:
      link: http://mysite.com?plan=basic
      text: Get started
  - name: Pro
    color: "#4a4a4a"
    features:
      - text: $50 per month
        highlight: true
      - text: Everything in Basic
        highlight: false
      - text: Enhanced tracing capabilities
        highlight: false
      - text: Full-fledged tech-support
        highlight: false
      - text: Unlimited feature requests
        highlight: false
      - text: 10 Hour response time
        highlight: false
    call_to_action:
      link: http://mysite.com?plan=pro
      text: Get started
faq:
  - question: What types of payment do you accept?
    answer: Wire transfers and UPI(India). If you have any other medium, feel free to contact us.
  - question: Do you offer pricing for nonprofit organizations?
    answer: Yes, send us a message and we'll set you up on our nonprofit pricing.
  - question: Questions?
    answer: Contact us for any further questions at <a href="#">stingless-tech@gmail.com</a>.
---
<div class="plans">
	{% for plan in page.pricing_table %}
		<ul class="plan">
			<li style="background: {{ plan.color }}">
				<h3>{{ plan.name }}</h3>
			</li>
			{% for feature in plan.features %}
				<li {% if feature.highlight %} class="highlighted"{% endif %}>{{ feature.text }}</li>
			{% endfor %}

			{% if plan.call_to_action %}
				<li class="pricing-cta"><div class="button"><a style="background: {{ plan.color }}" href="{{ plan.call_to_action.link }}">{{ plan.call_to_action.text }} &rarr;</a></div></li>
			{% endif %}
		</ul>
	{% endfor %}
</div>

{% if page.faq %}
	<h2>Pricing FAQ</h2>
	<dl class="faq">
		{% for item in page.faq %}
			<div>
				<dt>{{ item.question }}</dt>
				<dd>{{ item.answer }}</dd>
			</div>
		{% endfor %}
	</dl>
{% endif %}
